<!DOCTYPE html>
<html lang="en">

<head>
    <title>Отбор астронавтов</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
</head>

<body>
    <div>
        <div class="center">
            <h1>Загрузка фотографии</h1>
            <h2>для участия в миссии</h2>
        </div>
        
        <form class="login_form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Приложите фотографию</label>
                <input type="file" class="form-control-file" name="file" id="photo">
            </div>
            <div>
                <img src="data:image/png;base64,{{image}}" width="280" , height="200">
            </div>
            <div class="form-group">
                
            </div>
            
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
  </body>

</body>

</html>